<h2>{{playerProfileCtrl.player.first_name}} {{playerProfileCtrl.player.last_name}}</h2><span class="icon-glass icon-2"></span>

position: {{playerProfileCtrl.player.position}} <br>
age: {{playerProfileCtrl.player.age}} <br>
plays for: {{playerProfileCtrl.player.club_id}} <br>
nation: {{playerProfileCtrl.player.nation_id}}

<!-- more?
    "suffix": "",
    "starting": 0,
    "level": 0,
    "super_skill": 0,
    "oop": 0,
    "dp": 0,
    "suspended": 0,
    "health": 100,
    "auction_type": 0,
    "auction_price": 0
-->