<div>
    <div class="page-header">
        <h1>
            (CLUB NAME) United <small>North-East-Inner-Rural-Village of Jamaica</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            Stadium: Independence Park
        </div>
        <div class="col-md-4">
            Division: Jamaican National Premier League
        </div>
        <div class="col-md-4">
            Divisional Position: 3
        </div>
    </div>
    <div id="team-details">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 60%">
                <span >6 wins</span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 10%">
                <span >1 draws</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 30%">
                <span >3 loses</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Victory Points: 5VP
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="https://placehold.it/200x128" alt="...">
                            <div class="caption">
                                <h3>Get Coaching Points</h3>
                                <p>Coaching points are used to hire coaches and raise player levels.</p>
                                <p>
                                    <a href="#" class="btn btn-primary" role="button">
                                        Buy for 1VP
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="https://placehold.it/200x128" alt="...">
                            <div class="caption">
                                <h3>Change Team Suffix</h3>
                                <p>New teams all have the suffix "United", but you can hire a firm to re-brand your team.</p>
                                <p>
                                    <a href="#" class="btn btn-primary" role="button">
                                        Buy for 3VP
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Coaching Points: 3CP
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Starting Players</h3>
                        </div>
                        <div class="panel-body">
                            <player-list players="main.allPlayers"></player-list>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h3 class="panel-title">Benched Players</h3>
                        </div>
                        <div class="panel-body">
                            <player-list players="main.allPlayers"></player-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>