<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://fooooty.com">Footy</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Club</a></li>
                <li><a href="#">World</a></li>
                <li><a href="#">Nation</a></li>
                <li><a href="#">Division</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Finances</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="masthead">
    <div class="container">
        <h1>Want to play football with others on the internet?</h1>
        <h2>Now, with the drastic improvement of the <i>Internet Tubes</i>, it's possible.<br>Meet <strong>Fooooty</strong></h2>
    </div>
</section>

<hr>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-anchor"></i>
                    <h5>Anchors</h5>
                </div>

                <p>There aren't anchors in this game, but there are nations.  I'm sure some of them have sea ports.</p>
            </div>
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-moon-o"></i>
                    <h5>Moons</h5>
                </div>

                <p>Beat your rivals!  Taunt the other team mercilessly! Expose your bare behind*! <br><super>*Mooning feature not available in all areas</super></p>
            </div>
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-cogs"></i>
                    <h5>Gears</h5>
                </div>

                <p><strong>Fooooty</strong> is powered by gears.  So many gears.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a class="pull-right" href="http://evilmousestudios.com">Evil Mouse Studios</a>
            </div>
        </div>
    </div>
</footer>
